Package: pardus-lightdm-greeter-sshlogin
Version: 1.0
Architecture: all
Maintainer: Ali Riza KESKIN <aliriza.keskin@pardus.org.tr>
Installed-Size: 15
Depends: pardus-lightdm-greeter, openssh-server
Section: misc
Priority: optional
Homepage: https://www.pardus.org.tr
Description: Pardus Greeter ssh login plugin
 Pardus greeter ssh login plugin
